include AUTHORS
include LICENSE
include README.md
recursive-include pinax/announcements/static *
recursive-include pinax/announcements/templates *
recursive-include pinax/announcements/boilerplates *
